---
title: "Collegi Pixelmon"
layout: splash
classes:
  - landing
permalink: /
date: 2016-11-22T13:00:00-05:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash/00.png
  cta_label: "Join Today"
  cta_url: "/join/"
excerpt: "Custom designed Survival Experience.<br/>Pokemon Included."
---

<div class="server">
  <div class="server-ip">IP: collegi.mcserver.ws</div>
  <div class="server-players">
    <span class="players-current"></span>/<span class="players-max"></span>
    <span class="players-level"></span>
  </div>
  <div class="server-status"></div>
</div>
