.staff-row {
    margin-right: -15px;
    margin-left: -15px;
}

.staff-image {
    float: left;
    text-align: left;
    width: 140px;
    //margin-top: 100px;
    //padding-top: 22px;
    //margin-left: 16%;

    //width: 36px;
    //height: 36px;

    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }

    img {
      border-radius: 50%;
      vertical-align: middle;

      @include breakpoint($large) {
        padding: 5px;
        border: 1px solid $border-color;
      }
    }
}

.staff-text {
    //margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 18px;
}
